.transactions-container h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactions-container p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 🔹 Ajuste importante */
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* 🔥 RESPONSIVIDAD */
@media (max-width: 768px) {
  .page-container {
      padding: 40px 15px; 
  }

  .page-container h2 {
      font-size: 24px;
  }

  .page-container p {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .page-container {
      padding: 30px 10px;
  }

  .page-container h2 {
      font-size: 20px;
  }

  .page-container p {
      font-size: 14px;
  }
}
